@font-face {
  font-family: Anton;
  src: url(./font/Anton/Anton-Regular.ttf);
}
body {
  background-image: url(./images/50144229776_1189e0d9f6_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Anton;
}
.header {
  background-image: url(./images/arizona-blog-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
ul {
  list-style-type: none;
}
.lnks {
  display: flex;
  margin-right: 10px;
  flex-direction: row;
  justify-content: center;
}
.hm {
  margin-right: 40px;
}
.Abtus {
  margin-right: 40px;
}
.canidents {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.nixon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.McGovern {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
img {
  height: auto;
  width: 200px;
}
.McGovernbtn {
  background-color: rgb(2, 154, 255);
  width: 250px;
  height: 50px;
  border-radius: 10px;
}
.Nixonbtn {
  background-color: red;
  width: 250px;
  height: 50px;
  border-radius: 10px;
}
/* .vL {
  border-left: 6px solid black;
  display: flex;
  height: 500px;
  /* position: absolute; */
/* left: 50%;
  margin-left: -3px;
  top: 0;
} */

.box {
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: auto;
  width: auto;
  background-color: grey;
  padding: 10rem;
  position: absolute;
  overflow: hidden;
  opacity: 70%;
}
.congrats {
  display: flex;
  font-size: 100px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0%;
}
